In [1]:
## Data Analytics in Python  -> ML -> AI
##########################################################
# Descriptive Analysis 
# Diagnostic Analysis
# Predictive Analysis - Machine Learning / Deep Learning
# Prescriptive Analysis - AI

In [21]:
!python -m pip install pandas

Requirement already satisfied: pandas in c:\users\dev\appdata\local\programs\python\python310\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dev\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dev\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dev\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dev\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\dev\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import pandas as pd

In [4]:
# Data Types
#### 1. Series: 1-D Data, single column data
#### 2. DataFrame: 2-D Data, multi-column/Tabular Data
#### 3. Panel: 3-D Data, multi-table data

In [23]:
s1 = pd.Series([4,6,8,934,3]) # it is function of pandas lib which is used to made a series
s1

0      4
1      6
2      8
3    934
4      3
dtype: int64

In [24]:
s2 = pd.Series(['hi','nice','hi','nice','go'])
s2

0      hi
1    nice
2      hi
3    nice
4      go
dtype: object

In [25]:
s1.sum() # it is function of pandas lib.

955

In [26]:
s1.mean() # as function of padas lab.

191.0

In [27]:
s1.value_counts()

4      1
6      1
8      1
934    1
3      1
Name: count, dtype: int64

In [28]:
s1 < 10

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [30]:
s2[0] # as function

'hi'

In [31]:
s1[s1<10]

0    4
1    6
2    8
4    3
dtype: int64

In [32]:
s2.str.upper() #esko apn kisi bhi ulta likhane ke liye

0      HI
1    NICE
2      HI
3    NICE
4      GO
dtype: object

In [1]:
s3 = pd.Series({'a':45,'b':78,'c':90,'d':90,'e':78})  #that is dict.
s3

NameError: name 'pd' is not defined

In [15]:
s3['b']

78

In [16]:
s3[1]

78

In [17]:
s4 = pd.Series([7,3,6,8,3], index = ['a','x','p','n','k'])  # for custom
s4

a    7
x    3
p    6
n    8
k    3
dtype: int64

In [18]:
s4.unique() # it is function it is find unic value frome dict

array([7, 3, 6, 8], dtype=int64)

In [19]:
s4.nunique()

4

In [20]:

s4.values

array([7, 3, 6, 8, 3], dtype=int64)

In [21]:
s4.max()

8

In [22]:
s4.idxmax()

'n'

In [23]:

s4

a    7
x    3
p    6
n    8
k    3
dtype: int64

In [24]:
s4.T # ulta krne ke liye

a    7
x    3
p    6
n    8
k    3
dtype: int64

In [25]:
df = pd.DataFrame([[5,6,7],[5,3,8],[5,8,9],[2,3,4]])  # it is function which is used to data fream
df

   0  1  2
0  5  6  7
1  5  3  8
2  5  8  9
3  2  3  4

In [26]:
df[0] # find the coloum

0    5
1    5
2    5
3    2
Name: 0, dtype: int64

In [27]:
df[0][3]  # an item select

2

In [28]:
df.loc[1]

0    5
1    3
2    8
Name: 1, dtype: int64

In [29]:
df1 = pd.DataFrame({'a':[4,5,6,7,8,9,3,4], 'b':['hi','hi','bye','go','hi','hi','bye','go']})
df1

   a    b
0  4   hi
1  5   hi
2  6  bye
3  7   go
4  8   hi
5  9   hi
6  3  bye
7  4   go

In [30]:

df1['a']

0    4
1    5
2    6
3    7
4    8
5    9
6    3
7    4
Name: a, dtype: int64

In [31]:
df1.shape

(8, 2)

In [32]:
df1.count()

a    8
b    8
dtype: int64

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       8 non-null      int64
 1   b       8 non-null      object
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes

In [34]:
df1.size

16

In [35]:
df1.head(4)

   a    b
0  4   hi
1  5   hi
2  6  bye
3  7   go

In [36]:
df1.tail(2)

   a    b
6  3  bye
7  4   go

In [37]:
df1['new'] = pd.Series([6,2,54,7,3,67,3,4])
df1

   a    b  new
0  4   hi    6
1  5   hi    2
2  6  bye   54
3  7   go    7
4  8   hi    3
5  9   hi   67
6  3  bye    3
7  4   go    4

In [38]:
df1[['b','new']]

     b  new
0   hi    6
1   hi    2
2  bye   54
3   go    7
4   hi    3
5   hi   67
6  bye    3
7   go    4

In [39]:
df1[['b','new']][df1['new']%2 == 1]

     b  new
3   go    7
4   hi    3
5   hi   67
6  bye    3

In [40]:
df1.describe(include='all')

              a    b        new
count   8.00000    8   8.000000
unique      NaN    3        NaN
top         NaN   hi        NaN
freq        NaN    4        NaN
mean    5.75000  NaN  18.250000
std     2.12132  NaN  26.358788
min     3.00000  NaN   2.000000
25%     4.00000  NaN   3.000000
50%     5.50000  NaN   5.000000
75%     7.25000  NaN  18.750000
max     9.00000  NaN  67.000000

In [41]:
df1.describe()

             a        new
count  8.00000   8.000000
mean   5.75000  18.250000
std    2.12132  26.358788
min    3.00000   2.000000
25%    4.00000   3.000000
50%    5.50000   5.000000
75%    7.25000  18.750000
max    9.00000  67.000000

In [42]:
# del df1['a']
df1.drop(['a'], axis=1, inplace=True)

In [43]:
df1.sample(3)

     b  new
3   go    7
4   hi    3
6  bye    3

In [44]:
# - Create
# - Access
# - New Item Insert (DF)
# - Deletion (df.drop())

# Description
### info()
### unique()
### nunique()
### shape
### size
### count()
### describe()
### value_counts()
### head()
### tail()
### sample()
### columns
### index

# Stats
### sum()
### min()
### max()
### mean()
### idxmax()
### idxmin()
# File Operations
#################
# read
    # pd.read_csv
    # pd.read_json
    # pd.read_excel
    # ....
# write
    # df.to_csv('file.csv')
    # df.........

In [45]:
#file opeation 
####################################
# read 
      # pd.read_csv
      # pd.read_json 
     # pd.read_excel
# write
    #df.to _csv('file.csv')
    #df..................

In [4]:
suicide = pd.read_csv(r'file/suicides_data.csv') #file ko read krne ke liye this function
print(suicide) # than show

   Unnamed: 0  0  1  2
0           0  5  6  7
1           1  5  3  8
2           2  5  8  9
3           3  2  3  4

In [6]:
suicide # normal sucinde name ki file ko read krne ke liye

   Unnamed: 0  0  1  2
0           0  5  6  7
1           1  5  3  8
2           2  5  8  9
3           3  2  3  4

In [7]:
suicide.sample(2) #limited data ke liye function

   Unnamed: 0  0  1  2
2           2  5  8  9
0           0  5  6  7

In [ ]:
68/4 # coloum divide by 4 any other integer

17.0

In [8]:
suicide.info()  # coloum ke name

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      int64
 1   0           4 non-null      int64
 2   1           4 non-null      int64
 3   2           4 non-null      int64
dtypes: int64(4)
memory usage: 256.0 bytes

In [9]:
suicide.columns #colum ke name

Index(['Unnamed: 0', '0', '1', '2'], dtype='object')

In [14]:
suicide.coloum[2::1]

AttributeError: 'DataFrame' object has no attribute 'coloum'

In [10]:
for col in suicide.columns:
    print(col)

Unnamed: 0
0
1
2

In [11]:
my_cols = ['State/UT'] + list(suicide.columns[5::4])

In [ ]:
df = suicide[my_cols]
df.head()

NameError: name 'suicide' is not defined

In [ ]:
# df.to_csv('suicides_data.csv',index=False)
df.to_csv('suicides_data.csv')

In [ ]:
# read_file = pd.read_csv('suicides_data.csv')
read_file = pd.read_csv('suicides_data.csv', index_col=0)
read_file.head()

   0  1  2
0  5  6  7
1  5  3  8
2  5  8  9
3  2  3  4

In [2]:
a = 2
a

2

# pandas Feature 
1. String function
2. merging/ joining
3. missing data
4. statisticial
5. Data Iteration
6. Aggregation
7. sorting
8. data grouping

In [1]:
import pandas as pd # file loard krne ke liye

In [3]:
df = pd.read_csv('suicides_data.csv') # file mese data read krne ke liye 
                                      #we are used this function ( we are read file from to file then after)
df.head() # upar ka  data show kraane ke liye we are used to head function

FileNotFoundError: [Errno 2] No such file or directory: 'suicides_data.csv'

In [ ]:
#string function 
#### work on series
##### series.str.function
d['State/UT'],str.count('a')
                            # ek particular roow ko select krne ke liye we are used to this function 
                              #then after we are get a particular number of aphabat (kitne alphabate hai ek row me )
df['State/UT'],str.contains('a') 
                              
                               #k particular roow ko select krne ke liye we are used to this function 

                              #then after we are get a particular  aphabat  in true and fals(logical perfomence )
df['State/UT'],str.find('a')   # location alocated krne ke liye we are used this function 
df['State/UT'],str.get_dummies() # unic data ke liye we are used this function
df['State/UT'],str.get('a') #data lene ke liye
df['State/UT'],str.repeat() #data ko repeat krne ke liye
df['State/UT'],str.replace('k','A' aandrapradhes = agra)  # that is uesd for replace (change of value)
df['State/UT'],str.join()  
df['State/UT'],str.rwpeat(2)
df['State/UT'],str.repeat([1,2,2,45, ])  #value ko repeat krne ke liye we are used to this function
df['State/UT'],str.upper('a') #uper uper ke word repeat krne ke liye we are used this function
df['State/UT'],str.splite()str.get() # phala vala get krne ke liye we are used to this function