# list
...A tuple is an ordered collection of data.
list are not start to 0. it is from 1

In [59]:
course = ['Maths','Biology']
print('course')

course

In [60]:
course = ['Maths','Biology']
print(len(course))    # len function we are used to count of words in list

2

In [61]:
course = ['Maths','Biology']
print(course[0])

Maths

In [62]:
course = ['Maths','Biology']
print(course[0:1])

['Maths']

In [63]:
course = ['Maths','Biology']
print(course[1:])   # just bad vala word find krne ke liye

['Biology']

In [64]:
course = ['Maths','Biology']
course.insert(0,'arts')
print(course)

['arts', 'Maths', 'Biology']

In [65]:
course = ['Maths','Biology']
course_2 = 'arts','arts 2 '

course.insert(0,course_2)
print(course)

[('arts', 'arts 2 '), 'Maths', 'Biology']

In [66]:
course = ['Maths','Biology']
course_2 = ('arts','arts 2 ')

course.extend(course_2) # extend when we are used to then hme last me elemnet  dalna hota hai kisi list me 
print(course)

['Maths', 'Biology', 'arts', 'arts 2 ']

In [67]:
course = ['Maths','Biology']
course_2 = ('arts','arts 2 ')

course.append(course_2) # extend when we are used to then hme last me elemnet ko highlist krnA ho  
print(course)

['Maths', 'Biology', ('arts', 'arts 2 ')]

Remove word from the list

In [68]:
course = ['Maths','Biology','Maths1','Biology2'] 
course.remove('Maths')   # Remove the element from the list
print(course)

['Biology', 'Maths1', 'Biology2']

In [69]:
course = ['Maths','Biology','Maths1','Biology2'] 
course.pop()  
 
# popped = course.pop()   # Remove the  last element from the list
print(course)

['Maths', 'Biology', 'Maths1']

In [70]:
course = ['Maths','Biology','Maths1','Biology2'] 
# course.pop()  
 
popped = course.pop()   # find  the  last element from the list
print(popped)

Biology2

In [71]:
course = ['Maths','Biology','Maths1','Biology2'] 
course.reverse()  
print(course)  # Reverse the element from the list

['Biology2', 'Maths1', 'Biology', 'Maths']

In [72]:
course = ['Maths','Biology','Maths1','Biology2'] 
course.sort()  
print(course)  # Reverse the element from the list

['Biology', 'Biology2', 'Maths', 'Maths1']

In [73]:
course = ['Maths','Biology','Maths1','Biology2'] 
course_2 = ['2','4','5','3'] 
course.reverse()
course_2.sort()  
print(course) 
print(course_2)  # Arrange the element

['Biology2', 'Maths1', 'Biology', 'Maths']
['2', '3', '4', '5']

In [74]:
course = ['Maths','Biology','Maths1','Biology2'] 
course_2 = ['2','4','5','3'] 
course.sort(reverse= True)
course_2.sort(reverse= True)   # so it is revers order element
print(course) 
print(course_2)

['Maths1', 'Maths', 'Biology2', 'Biology']
['5', '4', '3', '2']

In [75]:
course = ['Maths','Biology','Maths1','Biology2'] 
sorted(course) 
# print(course) # so directly we are sort of list

['Biology', 'Biology2', 'Maths', 'Maths1']

In [76]:
course = ['Maths','Biology','Maths1','Biology2'] 
course_2 = [2,4,5,3] 
course.sort(reverse= True)
#course_2.sort(reverse= True)   # so it is revers order element
print(course) 
print(sum(course_2))  # sum of list element

['Maths1', 'Maths', 'Biology2', 'Biology']
14

In [77]:
course_2 = [2,4,5,3] 
print(sum(course_2))  # sum of list element

14

In [78]:
course = ['Maths','Biology','Maths1','Biology2'] 
print (course.index('Maths'))
print (course.index('Biology2')) # index is used for location of element in list

0
3

In [79]:
course = ['Maths','Biology','Maths1','Biology2'] 
print('arts' in course)
course = ['Maths','Biology','Maths1','Biology2']  # it is check that  element present in list 
print('Maths' in course)

False
True

In [80]:
course = ['Maths','Biology','Maths1','Biology2'] 
for gk in course:
   print(gk )  # which is used for value in  serise

Maths
Biology
Maths1
Biology2

In [81]:
course = ['Maths','Biology','Maths1','Biology2'] 
for  gk in enumerate(course, start=1):  # which is used for numberic in  serise (in a costex)
   print(gk )

(1, 'Maths')
(2, 'Biology')
(3, 'Maths1')
(4, 'Biology2')

In [82]:
course = ['Maths','Biology','Maths1','Biology2'] 
for r, gk in enumerate(course, start=1):  # which is used for numberic in  serise (without costax)
   print(r,gk )

1 Maths
2 Biology
3 Maths1
4 Biology2

In [83]:
course = ['Maths','Biology','Maths1','Biology2'] 
course44= ' - '. join(course) # it is used for add any str in list
print(course44)

Maths - Biology - Maths1 - Biology2

# Tuple
. A tuple is an ordered collection of data.
tuple me apn data insert nhi krskte
Mutable and Immutable

In [84]:
list_1= ['Maths','Biology','Maths1','Biology2']
list_2=list_1

list_2.insert(0,'arts')
list_1.insert(0,'arts')
print(list_1)
print(list_2)    # so list is mutable

['arts', 'arts', 'Maths', 'Biology', 'Maths1', 'Biology2']
['arts', 'arts', 'Maths', 'Biology', 'Maths1', 'Biology2']

In [90]:
tuple_1= ('Maths','Biology','Maths1','Biology2')
tuple_2=list_1

#tuple_2.insert(0,'arts')
tuple_1[0] ='arts'

# tuple_1.insert(0,'arts')
#print(tuple_1)
print(tuple_1)    # so list is mutable

TypeError: 'tuple' object does not support item assignment

In [118]:
tuple_1= ('Maths','Biology','Maths1','Biology2')
tuple_2=tuple_1

#tuple_2.insert(0,'arts')
tuple_2[0] ='arts'

# tuple_1.insert(0,'arts')
#print(tuple_1)
print(tuple_2)    # so list is mutable

TypeError: 'tuple' object does not support item assignment

 # Sets
 . A set is an unordered collection

In [100]:
sets_1= {'Maths','Biology','Maths1','Biology2'}   # A list is a collection of ordered data.
                                                   
                                                   
print(sets_1)

{'Biology2', 'Maths1', 'Maths', 'Biology'}

In [103]:
sets_1= {'Maths','Biology','Maths1','Biology2','Biology2'}   # A list is a collection of ordered data.
                                                   
                      # it is not represent a same value so the biology2 are not found in output

                      #   esme apn condisition used kr skte hai                              
print(sets_1)

{'Biology2', 'Maths1', 'Maths', 'Biology'}

In [105]:
sets_1= {'Maths','Biology','Maths1','Biology2','Biology2'}   # A list is a collection of ordered data.
                                                   
                      # it is not represent a same value so the biology2 are not found in output

                      #   esme apn condisition used kr skte hai                              
print('Biology' in sets_1)

True

In [106]:
sets_1= {'Maths','Biology','Maths1','Biology2','Biology2'}  
sets_2= {'Maths','Biology','Maths1','Biology2','Biology2'}  # A list is a collection of ordered data.
                                                   
                      # it is not represent a same value so the biology2 are not found in output

                      #   esme apn condisition used kr skte hai     
                      # COMMAN FIND OUT KRNE KE LIYE                          
print( sets_1.intersection(sets_2))

{'Biology2', 'Maths1', 'Maths', 'Biology'}

In [115]:
sets_1= {'Maths','Biology','Maths1','Biology3','Biology8'}  
sets_2= {'Maths','Biology','Maths1','Biology3','Biology3'}  # A list is a collection of ordered data.
                                                   
                      # it is not represent a same value so the biology2 are not found in output

                      #   esme apn condisition used kr skte hai     
                      # COMMAN FIND OUT KRNE KE LIYE                          
                      # DIFFERENCE FIND OUT KRNE LIYE
print( sets_1.difference(sets_2))

{'Biology8'}

In [117]:
sets_1= {'Maths','Biology','Maths1','Biology3','Biology8'}  
sets_2= {'Maths','Biology','Maths1','Biology3','Biology3'}  # A list is a collection of ordered data.
                                                   
                      # it is not represent a same value so the biology2 are not found in output

                      #   esme apn condisition used kr skte hai     
                      # COMMAN FIND OUT KRNE KE LIYE                          
                      # DIFFERENCE FIND OUT KRNE LIYE
print( sets_1.union(sets_2)) # union find out krne ke liye

{'Biology8', 'Maths1', 'Biology3', 'Maths', 'Biology'}