In [5]:
import numpy as np

import pandas as pd

In [6]:
dir("padas")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
dict1={"Name":['Govind','AAdi','Sohan','Sohan','Sohan'],"Marks":['90','95','79','95','79'],"Add":['jaipur','jaipur','hirani','jaipur','hirani'],"clg":['jaipur','jaipur','hirani','jaipur','hirani']}
dict2={"Name":['Govind','AAdi','Sohan','Sohan','Sohan'],"Marks":['90','95','79','95','79'],"Add":['jaipur','jaipur','hirani','jaipur','hirani'],"clg":['jaipur','jaipur','hirani','jaipur','hirani']}

In [3]:
df=pd.DataFrame(dict1)
df1=pd.DataFrame(dict2)

NameError: name 'pd' is not defined

In [9]:
df

     Name Marks     Add     clg
0  Govind    90  jaipur  jaipur
1    AAdi    95  jaipur  jaipur
2   Sohan    79  hirani  hirani
3   Sohan    95  jaipur  jaipur
4   Sohan    79  hirani  hirani

In [10]:
df.to_csv('frends.csv') #data frem me dalne ke liye

In [11]:
df.to_csv('frends_indexFalse.csv',index=0) #data frem me dalne ke liye  and remove the index

In [12]:
df.head(2) # upper element

     Name Marks     Add     clg
0  Govind    90  jaipur  jaipur
1    AAdi    95  jaipur  jaipur

In [13]:
df.tail(3) # bottam se 3 element

    Name Marks     Add     clg
2  Sohan    79  hirani  hirani
3  Sohan    95  jaipur  jaipur
4  Sohan    79  hirani  hirani

In [14]:
df.describe() # it is uesd for average ya %%!

         Name Marks     Add     clg
count       5     5       5       5
unique      3     3       2       2
top     Sohan    95  jaipur  jaipur
freq        3     2       3       3

In [15]:
gv = pd.read_csv('any file name ')

FileNotFoundError: [Errno 2] No such file or directory: 'any file name '

In [ ]:
gv

NameError: name 'gv' is not defined

In [ ]:
gc=['any coloum'] [ 'index value']

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Dev\AppData\Local\Temp\ipykernel_3828\3398255002.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  gc=['any coloum'] [ 'index value']
C:\Users\Dev\AppData\Local\Temp\ipykernel_3828\3398255002.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  gc=['any coloum'] [ 'index value']
C:\Users\Dev\AppData\Local\Temp\ipykernel_3828\3398255002.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  gc=['any coloum'] [ 'index value']

TypeError: list indices must be integers or slices, not str

In [17]:
ser= pd.Series(np.random.rand(20))

In [18]:
ser

0     0.577270
1     0.074919
2     0.960458
3     0.864620
4     0.406453
5     0.791322
6     0.540067
7     0.202801
8     0.816909
9     0.215176
10    0.000838
11    0.878185
12    0.484702
13    0.913050
14    0.465231
15    0.456805
16    0.583154
17    0.216229
18    0.830143
19    0.400694
dtype: float64

In [19]:
type(ser)

pandas.core.series.Series

In [21]:
newdf=pd.DataFrame(np.random.rand(20,4),index=np.arange(20))

In [26]:
newdf.head()

          0         1         2         3
0  0.214692  0.289617  0.066012  0.055249
1  0.001101  0.488346  0.273107  0.873622
2  0.995989  0.681783  0.075587  0.837031
3  0.164463  0.807491  0.115399  0.165406
4  0.505958  0.710543  0.386222  0.256306

In [27]:
newdf.index

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], dtype='int32')

In [28]:
newdf.to_numpy

<bound method DataFrame.to_numpy of            0         1         2         3
0   0.214692  0.289617  0.066012  0.055249
1   0.001101  0.488346  0.273107  0.873622
2   0.995989  0.681783  0.075587  0.837031
3   0.164463  0.807491  0.115399  0.165406
4   0.505958  0.710543  0.386222  0.256306
5   0.765958  0.957710  0.021742  0.357018
6   0.261040  0.374692  0.881077  0.315887
7   0.321464  0.717905  0.282637  0.732804
8   0.232408  0.911917  0.997841  0.806005
9   0.127577  0.078464  0.178868  0.759285
10  0.693036  0.071109  0.954534  0.876950
11  0.592124  0.253658  0.018013  0.055988
12  0.790916  0.147945  0.823604  0.368790
13  0.649970  0.217336  0.110548  0.045232
14  0.318713  0.958912  0.661653  0.036926
15  0.225125  0.903586  0.237652  0.235321
16  0.025387  0.588219  0.382262  0.788682
17  0.542438  0.413099  0.507915  0.187211
18  0.081894  0.993510  0.498791  0.343604
19  0.227740  0.266666  0.822874  0.770468>

In [30]:
newdf.T # index vonvert coloum and coloum convert in index

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.214692,0.001101,0.995989,0.164463,0.505958,0.765958,0.261040,0.321464,0.232408,0.127577,0.693036,0.592124,0.790916,0.649970,0.318713,0.225125,0.025387,0.542438,0.081894,0.227740
1,0.289617,0.488346,0.681783,0.807491,0.710543,0.957710,0.374692,0.717905,0.911917,0.078464,0.071109,0.253658,0.147945,0.217336,0.958912,0.903586,0.588219,0.413099,0.993510,0.266666
2,0.066012,0.273107,0.075587,0.115399,0.386222,0.021742,0.881077,0.282637,0.997841,0.178868,0.954534,0.018013,0.823604,0.110548,0.661653,0.237652,0.382262,0.507915,0.498791,0.822874
3,0.055249,0.873622,0.837031,0.165406,0.256306,0.357018,0.315887,0.732804,0.806005,0.759285,0.876950,0.055988,0.368790,0.045232,0.036926,0.235321,0.788682,0.187211,0.343604,0.770468